.header {
    padding: 60px;
    text-align: center;
    background: #ebebeb;

}


body {
    font-family: Arial, Helevtica Neue, Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
}